#tabs {  
	list-style:none;
	margin:0;
	padding:0;
    background: #349AD9;
}
#tabs li {
	margin:12px;
	padding:0;
    float: left;
    list-style: none;
    border-radius: 8px;
}
#tabs li a {
	display:block; 
	width:150px;
	padding:6px 0;
	text-decoration:none;
	text-align:center;
	font-size:18px;
	color:white;
	background-color:#44A2DC;
    border-radius: 8px;
}

#tabs li a:hover {
	color:black;
    border-radius: 8px;
}
#sortable1, #sortable2, #sortable3{
    background: #F6F6F2;
    margin: 0 5px 5px 5px; 
    padding: 50px 50px 50px 50px; 
    float: none;
    border-radius: 8px;
}
#sortable1 li{
    text-align: center;
    background:yellow;
    margin: 0 5px 5px 5px; 
    padding: 5px; 
    font-size: 1.2em; 
    width: 150px!important; 
    float: none;
    border-radius: 8px;
}
#sortable2 li{
    text-align: center;
    background:green;
    margin: 0 5px 5px 5px; 
    padding: 5px; 
    font-size: 1.2em; 
    width: 150px!important; 
    float: none;
    border-radius: 8px;
}
#sortable3 li{
    text-align: center;
    background:red;
    margin: 0 5px 5px 5px; 
    padding: 5px; 
    font-size: 1.2em; 
    width: 150px!important; 
    float: none;
    border-radius: 8px;
}
#imprimir,#buscar,#actualizar{
	width:150px;
	padding:6px 0;
	text-align:center;
	font-size:18px;
	color:white;
	background-color:#44A2DC;
    border-radius: 8px;
        
}